.mif-menu{
z-index:1000;
position:absolute;
font-size:14px;
font: Lucida Grande, Helvetica, Arial, sans-serif;
color:#000;
padding:4px 0;
}

.mif-menu-wrapper{
position:relative;
left:0;
top:0;
overflow:hidden;
min-height:19px;
}

.mif-menu-item, .mif-menu-scroll, .mif-menu-sep, .mif-menu-desc{
height:19px;
padding:0 25px 0px 25px;
line-height:19px;
white-space:nowrap;
position:relative;
overflow:hidden;
vertical-align:baseline;
cursor:default;
}

.mif-menu-sep{
background:url('../images/sep.gif') center center repeat-x;
margin:0 1px;
height:14px;
}

.mif-menu-scroll{
height:13px;
width:100%;
padding:0;
margin:0;
display:none;
position:absolute;
z-index:1;
}

.mif-menu-scroll-top{
top:4px;
background: url('../images/top.png') center center no-repeat #fff;
}

.mif-menu-scroll-bottom{
bottom:4px;
background: url('../images/bottom.png') center center no-repeat #fff;
}

.mif-menu-icon, .mif-menu-name{
height:19px;
line-height:19px;
display:inline-block;
overflow:hidden;
vertical-align:top;
}

.mif-menu-icon{
width:16px;
height:16px;
line-height:16px;
margin-right:5px;
margin-top:2px;
}

.mif-menu-name{

}

.mif-menu .hover{
background:url(../images/selected.png);
color:#fff;
}

.mif-menu .disabled{
color:#D7D7D7;
}

.mif-menu .disabled .mif-menu-icon{
opacity:0.5;
filter: alpha(opacity=50);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.mif-menu-submenu, .mif-menu-loader, .mif-menu-check{
width:17px;
height:100%;
display:inline-block;
background:url('../images/left.png') no-repeat center center;
vertical-align:middle;
position:absolute;
right:8px;
top:0;
}

.hover .mif-menu-submenu{
background-image:url('../images/left-white.png') 
}

.mif-menu-loader{
background-image:url('../images/loader.gif');
}

.mif-menu-check{
right:auto;
left:3px;
background-image:none;
}

.mif-menu-checked{
background-image:url('../images/checked.png');
}

.hover .mif-menu-checked{
background-image:url('../images/checked-selected.png');
}

/*@background*/
.mif-menu-bg{
width: 100%;
height: 100%;
pointer-events: none;
}

.mif-menu-bg, .mif-menu-bg div{
position: absolute;
overflow:hidden;
}
.mif-menu-bg {
left:-19px;
top:-17px;
padding-left:40px;
padding-top:47px;
}
.mif-menu-bg .top{
height: 35px;
width: 100%;
position: relative;
top:-47px;
padding-left:40px;
padding-top:47px;
left:-40px;
}
.mif-menu-bg .center{
height: 100%;
width: 100%;
position: relative;
top:-164px;
padding-left:40px;
padding-top:47px;
left:-40px;
}
.mif-menu-bg .bottom{
height: 35px;
width:100%;
top:-164px;
position:relative;
padding-left:40px;
left:-40px;}
.mif-menu-bg .tl{
width: 45px;
height: 35px;
background:url("../images/bg-tl.png");
left:0px;
top:0px;
}
.mif-menu-bg .tr{
width: 45px;
height: 35px;
float:right;
position: relative;
background:url("../images/bg-tr.png");
top:-47px;
}
.mif-menu-bg .t{
height: 35px;
width:100%;
left:-85px;
top: 0;
clip:rect(auto auto auto 130px);
background:url("../images/bg-t.png");
padding-left:40px;
}
.mif-menu-bg .bl{
width: 45px;
height: 35px;
background:url("../images/bg-bl.png");
left:0px
}
.mif-menu-bg .br{
width: 45px;
height: 35px;
float: right;
position: relative;
background:url("../images/bg-br.png");
}
.mif-menu-bg .b{
height: 35px;
width:100%;
left:-85px;
clip:rect(auto auto auto 130px);
background:url("../images/bg-b.png");
padding-left:40px;
}
.mif-menu-bg .l{
height:10000px;
width:45px;
left:0;
top:70px;
background:url("../images/bg-l.png");
}
.mif-menu-bg .r{
height:10000px;
width:45px;
top:23px;
float:right;
position:relative;
background:url("../images/bg-r.png");
}
.mif-menu-bg .c{
height: 10000px;
width:100%;
left:-85px;
top:70px;
clip:rect(auto auto auto 130px);
background:url("../images/bg-c.png");
padding-left:40px;
}


.right .mif-menu-bg .tl{
background-image:url('../images/bg-rect-tl.png');
}
.left .mif-menu-bg .tr{
background-image:url('../images/bg-rect-tr.png');
}