.mif-menu{
z-index:1000;
position:absolute;
font-size:14px;
color:#000;
}

.mif-menu-wrapper{
position:relative;
left:0;
top:0;
margin:4px 0;
width:100%;
overflow:hidden;
}

.mif-menu-item, .mif-menu-scroll{
height:19px;
padding:0 20px;
line-height:0;
white-space:nowrap;
position:relative;
}

.mif-menu-scroll{
height:13px;
width:100%;
padding:0;
margin:0;
display:none;
position:absolute;
z-index:1;
}

.mif-menu-scroll-top{
top:4px;
background: url('../images/top.png') center center no-repeat #fff;
}

.mif-menu-scroll-bottom{
bottom:4px;
background: url('../images/bottom.png') center center no-repeat #fff;
}

.mif-menu-icon, .mif-menu-name{
height:19px;
line-height:19px;
vertical-align:middle;
display:inline-block;
cursor:default;
overflow:hidden;
}

.mif-menu-icon{
width:16px;
height:16px;
}

.mif-menu-name{
margin-left:5px;
}

.mif-menu .hover{
background:url(../images/selected.png);
color:#fff;
}

.mif-menu .disabled{
color:#D7D7D7;
}

.mif-menu-submenu{
width:17px;
height:100%;
display:inline-block;
background:url('../images/submenu-arrow.gif') no-repeat center center;
vertical-align:middle;
position:absolute;
right:0;
top:0;
}


/*@background*/
.mif-menu-bg{
width: 100%;
height: 100%;
}

.mif-menu-bg, .mif-menu-bg div{
position: absolute;
overflow:hidden;
}
.mif-menu-bg {
left:-19px;
top:-17px;
padding-left:40px;
padding-top:47px;
}
.mif-menu-bg .top{
height: 35px;
width: 100%;
position: relative;
top:-47px;
padding-left:40px;
padding-top:47px;
left:-40px;
}
.mif-menu-bg .center{
height: 100%;
width: 100%;
position: relative;
top:-164px;
padding-left:40px;
padding-top:47px;
left:-40px;
}
.mif-menu-bg .bottom{
height: 35px;
width:100%;
top:-164px;
position:relative;
padding-left:40px;
left:-40px;}
.mif-menu-bg .tl{
width: 45px;
height: 35px;
background:url("../images/bg-tl.png");
left:0px;
top:0px;
}
.mif-menu-bg .tr{
width: 45px;
height: 35px;
float:right;
position: relative;
background:url("../images/bg-tr.png");
top:-47px;
}
.mif-menu-bg .t{
height: 35px;
width:100%;
left:-85px;
top: 0;
clip:rect(auto auto auto 130px);
background:url("../images/bg-t.png");
padding-left:40px;
}
.ie6 .mif-menu-bg .t{
left:-45px;
clip:rect(auto auto auto 90px);
}
.mif-menu-bg .bl{
width: 45px;
height: 35px;
background:url("../images/bg-bl.png");
left:0px
}
.mif-menu-bg .br{
width: 45px;
height: 35px;
float: right;
position: relative;
background:url("../images/bg-br.png");
}
.mif-menu-bg .b{
height: 35px;
width:100%;
left:-85px;
clip:rect(auto auto auto 130px);
background:url("../images/bg-b.png");
padding-left:40px;
}
.ie6 .mif-menu-bg .b{
left:-45px;
clip:rect(auto auto auto 90px);
}
.mif-menu-bg .l{
height:10000px;
width:45px;
left:0;
top:70px;
background:url("../images/bg-l.png");
}
.mif-menu-bg .r{
height:10000px;
width:45px;
top:23px;
float:right;
position:relative;
background:url("../images/bg-r.png");
}
.mif-menu-bg .c{
height: 10000px;
width:100%;
left:-85px;
top:70px;
clip:rect(auto auto auto 130px);
background:url("../images/bg-c.png");
padding-left:40px;
}
.ie6 .mif-menu-bg .c{
left:-45px;
clip:rect(auto auto auto 90px);
}
