.mif-menu-default{
margin:0;
/*border:solid 1px black;*/
overflow:hidden;
font-size:12px;
font-family: Arial;
zoom:1;
white-space:nowrap;
cursor:default;
}

.mif-menu-default .mif-menu-wrapper{
background:#fff;
border:solid 1px #bbb;
}

.mif-menu-default .mif-menu-list{
padding:2px;
}

.mif-menu-default .mif-menu-disabled{
color:#9b9b9b;
cursor:default;
}

.mif-menu-default .mif-menu-separator{
background:url('../images/menu-separator.gif');
margin:3px auto 3px auto;
cursor:default;
font-size:0;
line-height:0px;

height:1px;
}

.mif-menu-default .mif-menu-item{
zoom:1;
}

.mif-menu-default .mif-menu-name{
padding-right:50px;
}

.mif-menu-default .mif-menu-description{
cursor: default;
padding-left:18px;
}

.mif-menu-default .mif-menu-item-wrapper{
color:#282828;
text-decoration:none;
line-height:18px;
padding:2px 0px 2px 1px;
}

.mif-menu-default .mif-menu-disabled .mif-menu-item-wrapper{
color:#a7a7a7;
cursor:default;
}

.mif-menu-default .mif-menu-icon{
display:inline;
height:18px;
line-height:18px;
padding-right:18px;
vertical-align:top;
margin-right:2px;
padding-top:2px;
padding-bottom:2px;
}

.mif-menu-default .mif-menu-selected .mif-menu-item-wrapper{
color:#fff;
}

.mif-menu-default .mif-menu-selected{
/*cursor:pointer;*/
cursor:default;
color:#fff;
background:#3976ac;
}

.mif-menu-default .mif-menu-selected-disabled{
cursor:default;
background:#3976ac;
}

.mif-menu-default .mif-menu-checked{
background:url('../images/checked.gif') 0 0 no-repeat;
}

.mif-menu-default .mif-menu-unchecked{
background:none;
}

.mif-menu-default .mif-menu-radio-checked{
background:url('../images/radio-checked.gif') 3px 3px no-repeat;
}

.mif-menu-default .mif-menu-radio-unchecked{
background:none;
}

.mif-menu-default .mif-childList .mif-menu-item-wrapper{
background:url('../images/submenu-arrow.gif') no-repeat right center;
}



/*@mif-shadow*/
.mif-shadow{
position:absolute;
white-space: nowrap;
}

.mif-shadow-ie{
background:#777;
}

.mif-shadow-tl{
background:url('../images/shadow6.png') 0 0;
width:6px;
height:6px;
position:absolute;
top:0;
left:0;
}

.mif-shadow-tr{
background:url('../images/shadow6.png') -6px 0;
width:6px;
height:6px;
position:absolute;
top:0;
right:0;
}

.mif-shadow-br{
background:url('../images/shadow6.png') -12px 0;
width:6px;
height:6px;
position:absolute;
bottom:0;
right:0;
}

.mif-shadow-bl{
background:url('../images/shadow6.png') -18px 0;
width:6px;
height:6px;
position:absolute;
bottom:0;
left:0;
}

.mif-shadow-l{
background:url('../images/shadow6.png') -24px 0 repeat-y;
width:6px;
position:absolute;
left:0;
top:6px;
}

.mif-shadow-r{
background:url('../images/shadow6.png') -30px 0 repeat-y;
width:6px;
height:6px;
position:absolute;
right:0;
top:6px;
}

.mif-shadow-t{
background:url('../images/shadow2.png') 0 0 repeat-x;
height:6px;
position:absolute;
left:6px;
top:0;
}

.mif-shadow-b{
background:url('../images/shadow2.png') 0 -6px repeat-x;
height:6px;
position:absolute;
left:6px;
bottom:0;
}

.mif-shadow-c{
background:url('../images/shadow-c.png');
position:absolute;
left:6px;
top:6px;
}

/*@end mif-shadow*/