@import url(../../Source/assets/styles/menu_default.css);

#menu-target{
background:#6b1451;
width:200px;
height:200px;
margin:20px;
}

#menu-target2{
background:#283457;
width:200px;
height:200px;
margin:20px;
}