
@import url(../../Source/assets/styles/menu.css);

.form{
background:url('../TestMenu/application-form.png') no-repeat center center;
}


#menu-target{
width:200px;
height:200px;
background:#FFEAB3;
}

.moo{
background:#65DD8F;
}